#contenedor-main-perfil {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
    padding-left: 40px;
}

#boton-editar-imagen-perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 300px;
    width: 300px;
    padding: 0%;
    margin-top: 20px;
    border-radius: 50%;
    background-color: white;
}

#boton-editar-imagen-perfil:hover img {
    filter: grayscale(20%) brightness(80%);
}

#main-info-usuario-foto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#carrusel-articulos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-top: 20px;
}

.carousel-item {
    padding-right: 40px;
    padding-left: 40px;
}

/* Botones del carrusel */
.carrusel-control {
    margin-top: 130px;
    width: 40px;
    height: 40px;
    padding: 8px;
    background-color: black;
    border-radius: 50%;
}

/* Articulos */
.articulo img {
    width: auto;
    height: 200px;
}

/* Lista de etiquetas */
#contenedor-lista-etiquetas {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#lista {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0%;
    margin: 0%;
}

.etiquetas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 8px 10px 8px 10px;
    font-size: medium;
    margin: 5px;
}

#boton-editar-etiquetas {
    margin-left: 10px;
}


#boton-eliminar-cuenta {
    margin-left: 20px;
}

.card.articulo {
    max-width: 200px;
    margin: 10px auto; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.card.articulo img {
    height: 150px; 
    object-fit: cover; 
    border-radius: 10px; 
}

.card.articulo .card-title {
    font-size: 1rem;
    margin-top: 5px;
}

#contenedor-galeria-articulos .col-md-4 {
    flex: 0 0 auto; 
    max-width: 25%;
}


.opcion-etiqueta {
    padding: 5px 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.toggle-btn.active {
    background-color: #56c35a; /* Color verde al marcar */
    border: 3px solid #56c35a;
}


#form-foto-perfil {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.opcion-foto-perfil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
}

.opcion-foto-perfil img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
}