#navbar-info-usuario-foto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

.user-info .role {
    color: #858585;
    font-size: 0.9em;
}

#nombre-rol {
    margin-right: 1em;
}

.hidden {
    display: none !important;
}